.container{
    display: flex;
    width: 500px;
    margin: 25px auto;
    flex-direction:column;
    flood-opacity: 50%;
    flex-wrap: wrap;  
    padding-top: 1%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    justify-content:space-around;

}
/* 
.action{
    display: flex;
    column-gap: 1rem;
}

.action{
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
} */